body {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #b13a21;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

.thumbnail img {
    width: 100px;
    height: 200px;
}

.slideshow-container {
    border-radius: 10px;
    height: 80%;
    position: relative;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(230, 20, 20, 0.2);
}

.slide {
    display: none;
}

.img-slide {
    width: auto;
    height: auto;
    margin: 20px auto; /* Add margin to all sides */
    display: block;
    pointer-events: none;
}

.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.button {
    position: fixed;
    top: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.btn {
    width: 100%;
    transform: translateY(-50%);
    padding: 10px 20px;
}

.music-toggle, .stack-list, .view-mode {
    margin-bottom: 10%;
}

.menu {
    background-color: #5bacc7;
    color: white;
    border: none;
    cursor: pointer;
}

/* Modal styles */

/* Add CSS for responsiveness */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#myInfo {
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.image-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.avatar-container {
    text-align: center;
}

.avatar {
    width: 20vw;
    height: 20vw;
    border-radius: 10%;
}

.info-container,.additional-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-content {
    margin: 15px;
}

.qr-code {
    width: 20vw;
    height: 20vw;
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
    }

    .info-container,.additional-links {
        flex-direction: column;
        align-items: center;
    }

    .qr-code {
        width: 50vw;
        height: 50vw;
        margin: 2px;
    }
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Button container styles */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    max-height: 50%; /* Adjust this value to your needs */
    overflow-y: auto;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #818181;
}

/* Blinking text styles */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.blink-text {
    animation: blink 1s infinite;
    color: yellow; /* Highlight color */
    font-weight: bold;
    font-size: smaller;
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}